
.footerdos {
    background-image: url("https://fedes.ai/fedes-consultora/landing/fondoHeaderEspejado.webp");
    background-size: cover;
    color: #f0f1f0;
    padding: 2rem 1.5rem;
    text-align: center;
    
    .footerInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      .redesSociales{
        position: relative;
        bottom: 1.1rem;
      }
      .dudas {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 100px;
          margin-bottom: 1rem;
        }
  
        .charlemos {
          font-size: 1.2rem;
          margin-bottom: 3rem;
        }
  
        p {
            width: 100%;
          font-size: 2.5rem;
          margin-bottom: 1rem;
          font-weight: 100;
  
          .extra-bold {
            font-weight: 900;
            font-family: "Sohne Extrafett", sans-serif;
          }
        }
  
        .parrafoLargo {
          font-size: 1rem;
          margin-bottom: 2rem;
        }
  
        .buttons_container {
          display: flex;
          flex-direction: column;
          gap: 1rem;
  
          .button1,
          .button2 {
            padding: 0.8rem;
            border-radius: 6rem;
            text-align: center;
            font-size: 1rem;
            width: 100%;
          }
  
          .button1 {
            background: #44718d;
            color: #f0f1f0;
            border: none;
          }
  
          .button1:hover {
            box-shadow: 0px 0px 8px 2px #44718d;
          }

          .button2 {
            background: transparent;
            border: 1.3px solid #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
            img {
              margin-right: 0.8rem;
              width: 30px;
              margin-bottom: 0rem;
              
            }
            .parrafoMensaje{
                font-size: 1rem;
                color: #f0f1f0;
                margin-bottom: 0;
              }
          }
  
          .button2:hover {
            box-shadow: 0px 0px 8px 2px white;
          }
        }
      }
      .redesSociales{
        p {
          font-size: 2rem;
          margin-bottom: 1rem;
          display: flex;
          justify-content: center;
          .extra-bold {
            font-weight: 900;
            font-family: "Sohne Extrafett", sans-serif;
            padding-right: 1rem;
          }
        }
        .redesSocialesContainer {
          margin-top: 1rem;
          display: flex;
          justify-content: space-evenly;
          
          
    
            a {
              display: inline-block;
              position: relative;
              border-radius: 100%;
              -webkit-border-radius: 100%;
              -moz-border-radius: 100%;
              -ms-border-radius: 100%;
              -o-border-radius: 100%;
              img.default{
                padding: 0.5rem;
                transition: opacity 0.3s ease-in-out;
                width: 45px;
                
              }
              img.default.youtube {
                width: 50px;
              }
              img.hover {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0.5rem;
                transition: opacity 0.3s ease-in-out;
                width: 45px;
              }
              img.hover.youtube {
                width: 50px;
              }
              &:hover {
                img.default {
                  opacity: 0;
                }
    
                img.hover {
                  opacity: 1;
                }
              }
              
          }
        }
      }
      
    }
  
    .legalFooter {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      
      .logoEidioma {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
  
        .logo_fedes {
          width: 100px;
          margin-bottom: 1rem;
        }
  
        .dropdown {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          position: relative;
          user-select: none;
          .btn-secondary {
            background-color: transparent;
            border: none;
            color: #f0f1f0;
            div{
              display: flex;
              align-items: center;
              padding-bottom: 1rem;
              img.flag {
                border-radius: 50%;
                margin-right: 8px;
                width: 25px;
                height: 25px;
              }
    
              img.arrow {
                transition: transform 0.3s ease;
                margin-left: 8px;
                width: 25px;
                height: 10px;
              }
            }
            
  
            &[aria-expanded="true"] img.arrow {
              transform: rotate(180deg);
            }
          }
          
          .dropdown-menu {
            background-color: transparent;
            position: absolute;
            left: 7rem;
            bottom: 0.5rem;
            background-color: #f0f1f0;
            padding: 1rem;
            padding-top: 1rem;
            padding-right: 2rem;
            padding-bottom: 0rem;
            padding-left: 2rem;
            border-radius:10px;
            -webkit-border-radius:10px;
            -moz-border-radius:10px;
            -ms-border-radius:10px;
            -o-border-radius:10px;
            
            li{
              display: flex;
              justify-content: start;
            }
            .dropdown-item {
              display: flex;
              align-items: center;
              padding-bottom: 1rem;
              font-size: 1.1rem;
              
              color: #000000;
              img {
                margin-right: 10px;
                width: 35px;
                &.arg{
                  width: 39px;
                }
              }
  
              &:hover {
                background-color: #e9ecef14;
              }
            }
          }
        } 
      }
      
      p {
        font-size: 0.9rem;
        margin-bottom: 0;
      }
    }
    .legalLinks {
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      .legalLinksContainer{
        position: relative;
        bottom: 0.1rem;
        margin-bottom: 1rem;
      }
      a.legalLink {
        color: #f0f1f0;
        font-size: 0.9rem;
        text-decoration: none;
        margin: 0 0.5rem;

        &:hover {
          text-decoration: underline;
        }
      }

      .separator {
        color: #f0f1f0;
      }
    }
  }
  

@media (min-width: 600px) {
      
  .footerdos{
    .dudas{
      .buttons_container{
        width: 100%;
        display: flex;
        flex-direction: row !important;
        a{
          width: 100%;
        }
      }
    }
  }
  

}
@media (min-width: 650px) {
      
  .footerdos{
    padding: 4rem 2.5rem;
    .dudas{
      img{
        width: 70px;
        align-self: flex-start;
      }
      .charlemos{
        display: flex;
        align-self: flex-start;
      }
      .parrafoCorto{
        display: flex;
        font-size: 2.7rem !important;
        .extra-bold{
          font-family: "Sohne Extrafett", sans-serif;
          padding-left: 1rem;
        }
      }
      .parrafoLargo{
        display: flex;
        text-align: start;
      }
      .buttons_container{
        width: 100%;
        display: flex;
        flex-direction: row !important;
        a{
          width: 100%;
          button{
            height: 55px;
            img{
              width: 30px !important;
            }
          }
        }
      }
    }
  }
  

}
/* Responsive Styles - Desktop */
@media (min-width: 800px) {
  .footerdos{
    padding: 4rem 5rem;
    padding-bottom: 2rem;
    
      .legalFooter{
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        .logoEidioma{
          display: flex;
          flex-direction: row;
          margin-bottom: 0rem;
          .logo_fedes{
            padding-right: 2rem;
            margin-bottom: 0rem;
            width: 200px;
          }
          .dropdown {
            button{
              div{
                padding: 0rem !important;
              }
            }
            .dropdown-menu{
              left: 0rem !important;
              bottom: 1.5rem;
              
            }
          }
        }
      }
    
  }
}

@media(min-width: 1080px) {
  .footerdos{
    .footerInfo{
      display: flex;
      flex-direction: row;
      .dudas{
        .parrafoLargo{
          width: 90%;
          align-self: flex-start;
        }
        .buttons_container {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          a{
            display: flex;
            .button1,
            .button2 {
              padding: 0.8rem;
              border-radius: 6rem;
              text-align: center;
              font-size: 1rem;
              width: 70%;
            }
          }
          
        }
        .redesSociales{
          padding-right: 2rem;
          padding-left: 2rem;
          width: 40%;
        }
      }
      
    }
  }
}