/* src/styles/components/_header.scss */
header.header--other{
  background-image: url("https://www.fedesconsultora.com/fedes-consultora/privacidad/fondoClaro.png");
  background-size: cover;
  color: $color-black;
  
  .header_sup{
    .navegacion-horizontal{
      ul{
        li{
          font-weight: 900 !important;
        }
      }
    }
  }
}
header {
  background-image: url("https://fedesconsultora.com/fedes-consultora/landing/fondoHeader.jpg");
  background-size: cover;
  color: #F0F1F0;
  user-select: none;
  font-weight: 900;
  font-family: 'Sohne Halbfett';
  .header_sup {
    .logoYnav{
      display: flex;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem; 

    .logo_fedes {
      width: 8rem; 
      cursor: pointer;
    }

    .menuHamburguesa {
      display: block;
      width: 2rem;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .navegacion-horizontal {
      display: none; 
      li{
        cursor: pointer;
        font-weight: 600;
      }
    }

    .redesYlogin {
      display: none;
    }
  }

  .contenedorMenuAbierto {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #1D1D1B;
    color: #F0F1F0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 1000;
    
    &.menu-visible {
      right: 0; 
    }

    .logoYclose {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 2rem;
      padding-top: 3rem;
      .logo_fedes {
        width: 8rem;
      }

      .close-menu {
        cursor: pointer;
        width: 2rem;
      }
    }

    .navegacion-vertical {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      li {
        padding: 1rem 2rem;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        cursor: pointer;
        &:hover {
          color: #44718D;
          font-weight: 600;
        }
      }
    }
    
    .redesYlogin {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 2rem;
      
      .hub-button {
        background-color: #44718D;
        color: #fff;
        font-weight: 700;
        padding: 0.8rem 1.5rem;
        border-radius: 8px;
        text-decoration: none;
        transition: background 0.3s ease-in-out;
        display: inline-block; 
      
        &:hover {
          background-color: #2d546e;
        }
      }
      .redesSociales{
        p {
          font-size: 2rem;
          margin-bottom: 1rem;
          display: none;
          justify-content: center;
          .extra-bold {
            font-weight: 900;
            padding-right: 1rem;
          }
        }
        .redesSocialesContainer {
          display: flex;
          justify-content: space-evenly;
          
          
    
            a {
              display: inline-block;
              position: relative;
              margin-right: 1.5rem;
              border-radius: 100%;
              -webkit-border-radius: 100%;
              -moz-border-radius: 100%;
              -ms-border-radius: 100%;
              -o-border-radius: 100%;
              img.default{
                padding: 0.5rem;
                transition: opacity 0.3s ease-in-out;
                width: 45px;
                
              }
              img.default.youtube {
                width: 50px;
              }
              img.hover {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0.5rem;
                transition: opacity 0.3s ease-in-out;
                width: 45px;
              }
              img.hover.youtube {
                width: 50px;
              }
              &:hover {
                img.default {
                  opacity: 0;
                }
    
                img.hover {
                  opacity: 1;
                }
              }
              
          }
        }
      }

      .user_div {
        background-color: #F0F1F0;
        padding: 0.6rem;
        border-radius: 100px;
        height: fit-content;

        .dropdown {
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;

          .dropdown-toggle {
            width: 100%;
            justify-content: space-around;
            padding-left: 1rem;
            padding-right: 1rem;
          }

          .dropdown-toggle::after {
            display: none;
          }

          .user_img_container {
            display: flex;
            align-items: center;

            .userImg {
              border-radius: 100%;
              width: 20px;
            }

            .arrow {
              width: 13px;
              margin-left: 1.5rem;
            }
          }

          .dropdown-menu {
            background-color: #F0F1F0;
            margin-top: 0.5rem !important;
            position: absolute;
            bottom: 1.7rem;
            right: -0.2rem;
            display: flex;
            flex-direction: column;
            justify-content: end;
            border-radius: 10px;
            width: 9rem;
            padding: 1rem 0.2rem;

            .dropdown-item {
              color: #1D1D1B;
              padding-left: 0.5rem !important;
              padding-right: 0.5rem !important;
              display: flex;
              align-items: center;
              justify-content: space-between;

              p {
                margin: 0 !important;
              }

              i::before {
                color: #44718D;
              }
            }

            .dropdown-divider {
              display: none;
            }
          }
        }
      }
    }
  }
  
  @media (min-width: 420px) {
    .header_info {
      .text_container {
        
        .titulo_principal {
          font-size: 2.8rem !important;
          
        }
        .titulo_secundario,
        .titulo_secundario2 {
          font-size: 2.8rem !important;  
        }
        .buttons_container{
          display: flex;
          margin-top: 2.5rem;
          a{
            width: 60%;
          }
          button{
            height: fit-content;
            padding: 1rem;
          }
        }
      }      
    }
  }
  @media (min-width: 600px) {
   
    .header_sup{
      padding: 1.5rem 5rem;
    }
    .header_info{
      padding: 1.5rem 5rem;
      padding-bottom: 0rem;
      .text_container {
        h1 {
          .titulo_principal{
            right: 5rem;
            font-size: 3.5rem;
            padding-left: 5rem;
          }
          .titulo_secundario,
          .titulo_secundario2 {
            font-size: 3.5rem;
          }
        }
      }
      .imgHeader{
        img {
         
          left: 5rem;
        }
      }
    }
  }
  @media (min-width: 800px) {
    .logo_fedes {
      top: 2rem;
    }
    
  }
  /* Desktop adjustments */
  @media (min-width: 1080px) {
    .header_sup {
      padding: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;

      .logo_fedes {
        width: 9rem;
      }

      .menuHamburguesa {
        display: none;
      }

      .contenedorMenuAbierto {
        display: none; 
      }

      .navegacion-horizontal,
      .redesYlogin {
        .hub-button {
          background-color: #44718D;
          color: #fff;
          font-weight: 700;
          padding: 0.5rem 1rem;
          border-radius: 8px;
          text-decoration: none;
          transition: background 0.3s ease-in-out;
          display: inline-block; 
        
          &:hover {
            background-color: #2d546e;
          }
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .navegacion-horizontal {
        ul {
          display: flex;
          list-style: none;

          li {
            margin-left: 1.8rem;
            font-size: 0.9rem;

            &:hover {
              color: #44718D;
              font-weight: 600;
            }
          }
        }
      }
      
      .redesYlogin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        
        .redesSociales {
          display: flex;
          justify-content: flex-start;
          .redesSocialesContainer {
            display: flex;
            a {
              display: inline-block;
              position: relative;
              margin-right: 1rem;
              border-radius: 100%;
              -webkit-border-radius: 100%;
              -moz-border-radius: 100%;
              -ms-border-radius: 100%;
              -o-border-radius: 100%;
              img.default{
                padding: 0.5rem;
                padding-left: 0rem;
                padding-right: 0rem;
                transition: opacity 0.3s ease-in-out;
                width: 20px;
                
              }
              img.default.youtube {
                width: 30px;
              }
              img.hover {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0.5rem;
                padding-left: 0rem;
                padding-right: 0rem;
                transition: opacity 0.3s ease-in-out;
                width: 20px;
              }
              img.hover.youtube {
                width: 30px;
              }
              &:hover {
                img.default {
                  opacity: 0;
                }
    
                img.hover {
                  opacity: 1;
                }
              }
              
            }
          }
          
        }
  
        .user_div {
          background-color: #F0F1F0;
          padding: 0.3rem;
          border-radius: 100px;
          height: fit-content;
          
          .dropdown {
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
  
            .dropdown-toggle {
              width: 100%;
              justify-content: space-around;
              padding-left: 0.5rem;
              padding-right: 0.5rem;
            }
  
            .dropdown-toggle::after {
              display: none;
            }
  
            .user_img_container {
              display: flex;
              align-items: center;
  
              .userImg {
                border-radius: 100%;
                width: 20px;
              }
  
              .arrow {
                width: 13px;
                margin-left: 1.5rem;
              }
            }
  
            .dropdown-menu {
              background-color: #F0F1F0;
              margin-top: 0.5rem !important;
              position: absolute;
              top: 1.7rem;
              right: -0.2rem;
              display: flex;
              flex-direction: column;
              justify-content: end;
              border-radius: 10px;
              width: 9rem;
              padding: 1rem 0.2rem;
  
              .dropdown-item {
                color: #1D1D1B;
                padding-left: 0.5rem !important;
                padding-right: 0.5rem !important;
                display: flex;
                align-items: center;
                justify-content: space-between;
  
                p {
                  margin: 0 !important;
                }
  
                i::before {
                  color: #44718D;
                }
              }
  
              .dropdown-divider {
                display: none;
              }
            }
          }
        }
      }
    }
    .header_info{
      display: flex;
      flex-direction: row;
      .text_container{
        position: relative;
        bottom: 1rem;
        .buttons_container{
          width: 60%;
          a{
            button{
              font-size: 0.85rem !important;
            }
          }
        }
      }
      .imgHeader{
        position: relative;
        bottom: 1.8rem;
      }
    }
  }
  @media (min-width: 1200px) {
    .navegacion{
      margin-left: 3rem !important;
    }
    .header_info{
      .text_container{
        h1{
          .titulo_secundario{
            font-size: 4rem !important;
          }
          .titulo_principal {
            font-size: 4rem !important;
          }
          .titulo_secundario2 {
            font-size: 4rem !important;
          }
        }
      }
    }
  }
  @media (min-width: 1400px) {
    .header_sup {
      padding: 2rem 5rem; 

      .logo_fedes {
        width: 10rem;
      }

      .navegacion-horizontal {
        ul {
          li {
            margin-left: 3rem;
            font-size: 1rem;
          }
        }
      }
    }
      .header_info{
        display: flex;
        flex-direction: row;
        .text_container{
          position: relative;
          bottom: 1rem;
          .buttons_container{
            a{
              button{
                font-size: 1.1rem !important;
              }
            }
          }
        }
      }
    
  }
}
