/* src/styles/components/_header.scss */

header {
  background-image: url("https://fedesagency.com/fedes-consultora/landing/fondoHeader.jpg");
  background-size: cover;
  color: #F0F1F0;
  user-select: none;
  .header_sup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem; 

    .logo_fedes {
      width: 8rem; 
      cursor: pointer;
    }

    .menuHamburguesa {
      display: block;
      width: 2rem;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    .navegacion-horizontal {
      display: none; 
      li{
        cursor: pointer;
      }
    }

    .redesYlogin {
      display: none;
    }
  }

  .contenedorMenuAbierto {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #1D1D1B;
    color: #F0F1F0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 1000;

    &.menu-visible {
      right: 0; 
    }

    .logoYclose {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 2rem;

      .logo_fedes {
        width: 8rem;
      }

      .close-menu {
        cursor: pointer;
        width: 2rem;
      }
    }

    .navegacion-vertical {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      li {
        padding: 1rem 2rem;
        font-size: 1.2rem;
        text-align: start;
        width: 100%;
        cursor: pointer;
        &:hover {
          color: #44718D;
          font-weight: 600;
        }
      }
    }

    .redesYlogin {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 2rem;

      .redesSociales {
        display: flex;
        justify-content: flex-start;
        height: 100%;

        a {
          margin-right: 1rem;
          position: relative;
          width: 100%;
          display: flex;
          img{
            width: 30px;
          }
          img.hover {
            opacity: 0;
            position: absolute;
            bottom: 5px;
            transition: opacity 0.3s ease-in-out;
          }

          img.default {
            transition: opacity 0.3s ease-in-out;
          }

          &:hover {
            img.hover {
              opacity: 1;
            }

            img.default {
              opacity: 0;
            }
          }
        }
      }

      .user_div {
        background-color: #F0F1F0;
        padding: 0.6rem;
        border-radius: 100px;
        height: fit-content;

        .dropdown {
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;

          .dropdown-toggle {
            width: 100%;
            justify-content: space-around;
            padding-left: 1rem;
            padding-right: 1rem;
          }

          .dropdown-toggle::after {
            display: none;
          }

          .user_img_container {
            display: flex;
            align-items: center;

            .userImg {
              border-radius: 100%;
              width: 20px;
            }

            .arrow {
              width: 13px;
              margin-left: 1.5rem;
            }
          }

          .dropdown-menu {
            background-color: #F0F1F0;
            margin-top: 0.5rem !important;
            position: absolute;
            bottom: 1.7rem;
            right: -0.2rem;
            display: flex;
            flex-direction: column;
            justify-content: end;
            border-radius: 10px;
            width: 9rem;
            padding: 1rem 0.2rem;

            .dropdown-item {
              color: #1D1D1B;
              padding-left: 0.5rem !important;
              padding-right: 0.5rem !important;
              display: flex;
              align-items: center;
              justify-content: space-between;

              p {
                margin: 0 !important;
              }

              i::before {
                color: #44718D;
              }
            }

            .dropdown-divider {
              display: none;
            }
          }
        }
      }
    }
  }
  .header_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      text-align: center;
    
      .text_container {
        width: 100%;
        text-align: start;
    
        h1 {
          width: 100%;
    
          .titulo_principal {
            font-size: 1.9rem;
            padding: 0.5rem 2rem;
            background-color: #F0F1F0;
            border-radius: 0 3.25rem 3.25rem 0;
            color: #44718D;
            box-shadow: inset 0 0 19px rgba(68, 113, 141, 0.75);
            margin: 0.5rem 0;
            position: relative;
            right: 2rem;
            font-weight: 900;
            padding-top: 0.6rem;
            padding-bottom: 0.5rem;
          }
    
          .titulo_secundario,
          .titulo_secundario2 {
            font-size: 1.9rem;
            font-weight: 900;
            margin-bottom: 0.5rem;
          }
        }
    
        p {
          margin-top: 1rem;
          font-size: 1rem;
        }
    
        .buttons_container {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-top: 2.5rem;
          a{
            width: 100%;
            display: flex;
            justify-content: center;
            button {
              width: 100%;
              padding: 0.8rem;
              border-radius: 3rem;
              -webkit-border-radius: 3rem;
              -moz-border-radius: 3rem;
              -ms-border-radius: 3rem;
              -o-border-radius: 3rem;
              &.button1 {
                background-color: #44718D;
                color: white;
                margin-bottom: 2rem;
                
                &:hover{
                  background-color: #44718D;
                  box-shadow: #44718D 0px 0px 8px 2px;
                }
              }
      
              &.button2 {
                border: 1px solid #ffffff;
                color: white;
                &:hover{
                  box-shadow: white  0px 0px 5px 1px;
                }
              }
            }
          }
    
          
        }
      }
    
      .imgHeader {
        width: 100%;
        margin-top: 2rem;
    
        img {
          width: 100%;
          height: auto;
          position: relative;
          left: 2rem;
        }
      }
    }
    
    .flechaAbajo {
      display: flex;
      justify-content: center;
      padding-bottom: 3rem;
      img {
        width: 35px;
      }
    }
  @media (min-width: 420px) {
    .header_info {
      .text_container {
        
        .titulo_principal {
          font-size: 2.8rem !important;
          
        }
        .titulo_secundario,
        .titulo_secundario2 {
          font-size: 2.8rem !important;  
        }
        .buttons_container{
          display: flex;
          margin-top: 2.5rem;
          a{
            width: 60%;
          }
          button{
            height: fit-content;
            padding: 1rem;
          }
        }
      }      
    }
  }
  @media (min-width: 600px) {
   
    .header_sup{
      padding: 1.5rem 5rem;
    }
    .header_info{
      padding: 1.5rem 5rem;
      padding-bottom: 0rem;
      .text_container {
        h1 {
          .titulo_principal{
            right: 5rem;
            font-size: 3.5rem;
            padding-left: 5rem;
          }
          .titulo_secundario,
          .titulo_secundario2 {
            font-size: 3.5rem;
          }
        }
      }
      .imgHeader{
        img {
         
          left: 5rem;
        }
      }
    }
  }
  @media (min-width: 800px) {
    .logo_fedes {
      top: 2rem;
    }
    .header_info{
      .text_container{
        .buttons_container{
          display: flex;
          flex-direction: row;
          margin-top: 2.5rem;
          a{
            width: 100%;
            margin-right: 2rem;
            button{
              height: fit-content;
              padding: 1rem;
              &.button1{
                margin-bottom: 0;
              }
            }
          }
          
        }
      }
      
    }
  }
  /* Desktop adjustments */
  @media (min-width: 1080px) {
    .header_sup {
      padding: 2rem;

      .logo_fedes {
        width: 9rem;
      }

      .menuHamburguesa {
        display: none;
      }

      .contenedorMenuAbierto {
        display: none; 
      }

      .navegacion-horizontal,
      .redesYlogin {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .navegacion-horizontal {
        ul {
          display: flex;
          list-style: none;

          li {
            margin-left: 1.8rem;
            font-size: 0.9rem;

            &:hover {
              color: #44718D;
              font-weight: 600;
            }
          }
        }
      }
      .redesYlogin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
  
        .redesSociales {
          display: flex;
          justify-content: flex-start;
  
          a {
            margin-right: 1rem;
            position: relative;
  
            img.hover {
              opacity: 0;
              position: absolute;
              bottom: 0px;
              transition: opacity 0.3s ease-in-out;
            }
  
            img.default {
              transition: opacity 0.3s ease-in-out;
            }
  
            &:hover {
              img.hover {
                opacity: 1;
              }
  
              img.default {
                opacity: 0;
              }
            }
          }
        }
  
        .user_div {
          background-color: #F0F1F0;
          padding: 0.3rem;
          border-radius: 100px;
          height: fit-content;
          
          .dropdown {
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
  
            .dropdown-toggle {
              width: 100%;
              justify-content: space-around;
              padding-left: 0.5rem;
              padding-right: 0.5rem;
            }
  
            .dropdown-toggle::after {
              display: none;
            }
  
            .user_img_container {
              display: flex;
              align-items: center;
  
              .userImg {
                border-radius: 100%;
                width: 20px;
              }
  
              .arrow {
                width: 13px;
                margin-left: 1.5rem;
              }
            }
  
            .dropdown-menu {
              background-color: #F0F1F0;
              margin-top: 0.5rem !important;
              position: absolute;
              top: 1.7rem;
              right: -0.2rem;
              display: flex;
              flex-direction: column;
              justify-content: end;
              border-radius: 10px;
              width: 9rem;
              padding: 1rem 0.2rem;
  
              .dropdown-item {
                color: #1D1D1B;
                padding-left: 0.5rem !important;
                padding-right: 0.5rem !important;
                display: flex;
                align-items: center;
                justify-content: space-between;
  
                p {
                  margin: 0 !important;
                }
  
                i::before {
                  color: #44718D;
                }
              }
  
              .dropdown-divider {
                display: none;
              }
            }
          }
        }
      }
    }
    .header_info{
      display: flex;
      flex-direction: row;
      .text_container{
        position: relative;
        bottom: 1rem;
        .buttons_container{
          a{
            button{
              font-size: 0.85rem !important;
            }
          }
        }
      }
      .imgHeader{
        position: relative;
        bottom: 1.8rem;
      }
    }
  }
  @media (min-width: 1200px) {
    .header_info{
      .text_container{
        h1{
          .titulo_secundario{
            font-size: 4rem !important;
          }
          .titulo_principal {
            font-size: 4rem !important;
          }
          .titulo_secundario2 {
            font-size: 4rem !important;
          }
        }
      }
    }
  }
  @media (min-width: 1400px) {
    .header_sup {
      padding: 2rem 5rem; 

      .logo_fedes {
        width: 10rem;
      }

      .navegacion-horizontal {
        ul {
          li {
            margin-left: 3rem;
            font-size: 1rem;
          }
        }
      }
    }
      .header_info{
        display: flex;
        flex-direction: row;
        .text_container{
          position: relative;
          bottom: 1rem;
          .buttons_container{
            a{
              button{
                font-size: 1.1rem !important;
              }
            }
          }
        }
      }
    
  }
}
